# === SMTP / GMAIL ===
MAIL_SERVICE=<YOUR_MAIL_SERVICE>
MAIL_USER=<YOUR_MAIL_USER>
MAIL_PASS=<YOUR_MAIL_PASS>

# === DATABASE ===
DB_HOST=<YOUR_DB_HOST>
DB_PORT=<YOUR_DB_PORT>
DB_USER=<YOUR_DB_USER>
DB_PASS=<YOUR_DB_PASS>
DB_NAME=<YOUR_DB_NAME>
DB_CONN_LIMIT=<YOUR_DB_CONN_LIMIT>